body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
  max-width: 100%;
}

button.word {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
}

button.solved {
  font-weight: bold;
}
